#push_swap_tester/
txt/
.gitignore
#test*
#visualizer

#System files
.DS_Store

#Object files
*.o

#Libraries
*.lib
*.a

#Excutables
*.out

#Temp files
*.swp

#Debug files
*.DSYM/

#Readme files
#*.md